html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  color: orange;
  font-family: 'Titillium Web', sans-serif;
}

.content {
  height: calc(100% - 85px); 
  position: relative;
}

.header {
  background-color: rgb(72, 72, 94);
  padding: 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: solid 1px;
  border-bottom-color: rgb(153, 163, 154);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding: 20px 20px 5px 10px;
  background-color: rgb(91, 100, 131);
  box-shadow: inset 0px 10px 10px 0 rgb(0,0,0,0.1), 
              5px 0px 20px 0 rgb(0,0,0,0.2),
              inset 0px -10px 10px 0 rgb(0,0,0,0.1);
  transition-duration: 0.3s;
  
}

.menu--open {
  width: 200px;
}
.menu--close {
  width: 30px;
  height: 35px;
}

.menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  font-size: 1.5em;
}

.menu__selector {
  padding: 3px;
  width: 100%;
  background-color: gray;
  color: white;
  font-weight: 900;
}

.map {
  text-align: center;
  height: 100%;
  width: 100%;
}

.footer {
  background-color: black;
  padding: 0px;
  height: 30px;
  text-align: center;
  border-top: solid 1px;
  border-top-color: rgb(153, 163, 154);
  color: gray;
}

